.doggy-maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* This ensures the container takes the full height of the viewport */
}
.center-textys {
  text-align: center;
  margin-top: 150px;
}

.center-textsys {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 25px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 5px;
}

button {
  padding: 5px 2px;
  text-decoration: none;
  background-color: #deaf84;
  color: black;
  border: 2px solid #97704f;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 15px;
  width: 150px;
  margin-right: 10px;
}

.maze-board-containery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 499px;
  margin: auto;
  margin-top: 15px;
}

.maze-row {
  display: flex;
}

.maze-cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icones {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
}

@media screen and (max-width: 499px) {
  .maze-board-containery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 499px;
    margin: auto;
    margin-top: -30px;
  }

  .maze-cell {
    width: 20px;
    height: 20px;
    font-size: 18px;
  }

  .icones {
    font-size: 10px;
  }
  .center-textys {
    text-align: center;
    margin-top: 50px;
  }

  .center-textsys {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 30px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
    margin: 5px;
  }

  button {
    padding: 5px 2px;
    text-decoration: none;
    background-color: #deaf84;
    color: black;
    border: 2px solid #97704f;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 15px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .maze-cell {
    width: 25px;
    height: 25px;
    font-size: 20px;
  }

  .icones {
    font-size: 12px;
  }
  .center-textys {
    text-align: center;
    margin-top: 150px;
  }

  .center-textsys {
    text-align: center;
    margin-top: -35px;
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
    margin: 5px;
  }
}